// Color Variables
$baseColor1:#FFFFFF;
$baseColor2:#F2F2F2;
$mainColor1:#5BC8E7;
$mainColor2:#c7f1f8;
$accentColor:#FC9F06;
$textColor1:#333333;
$textColor2:#FFFFFF;
$overlay1:rgba(#3C2F10, 0.3);
$overlay2:rgba(#FFFFFF, 0.85); 

// Font Variables
$Robot: "Roboto Condensed";
$sans:"Noto Sans JP";
